body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: "Montserrat";
    font-weight: 900;
    line-height: 1.5;
    font-size: 3.5rem;
}

h2 {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1.5;
}

h3 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
}

p {
    font-size: .9rem;
}

#title {
    background-color: #ff4c68; 
    font-size: 1.5rem;
    color: white;
}

.navbarContainer {
    padding: .5rem 6%;
}

.featuresContainer {
    padding: 7% 0;
}

/* Navigation Bar */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Image */

.titleImage {
    width: 60%;
    transform: rotate(25deg);
}

.featureBoxes {
    margin: 3% 0;
}


/* Features Section */

#features {
    color: #8f8f8f;
    padding: 0 13%;
}

.featureIcons {
    color: #ef8172;
    margin-bottom: 13px;
}

.featureIcons:hover {
    color: #ff4c68;
}



/* Testimonial Section */


#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonialImage {
    width: 13%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 4%;
}

.pressImgs {
    width: 12%;
    margin: 20px 15px 18px;
}



/* Pricing Section */

#pricing {
    text-align: center;
    padding: 100px;
}

.card-body {
    height: 15rem;
}

.pricingColumns {
    padding-top: 5%;
    padding-bottom: 5%;
}